html,
body,
.custom-cursor,
.your-container-element {
  cursor: none;
}

html {
  font-size: 62.5%;

  &.sr .load-hidden {
    visibility: hidden;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  scroll-behavior: smooth;
  background-color: $white-color;
  cursor: none;
}

.custom-cursor {
  background: linear-gradient(45deg, #ff0000, #00ff00, #0000ff, #ffff00);
  background-size: 400% 400%;
  animation: gradient-animation 5s ease infinite;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  pointer-events: none !important;
  z-index: 1000;
  transition: transform;
  mix-blend-mode: difference;
}

#visitor-count{
    color: #FFFFFF;
    font-family: 'revert';
    font-weight: 900;
    font-size: 17;
}
.new{
  color: #FFFFFF;
  font-family: 'revert';
  font-weight: 900;
  font-size: 17;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
.img-fluid-special {
  max-width: 34.5%;
  height: auto;
}
.project-img-fluid {
  max-width: 100%;
  height: auto;
  min-height: 400px;
}
